node_modules/*
!node_modules/vue
!node_modules/normalize.css
node_modules/vue/*
node_modules/normalize.css/*
!node_modules/normalize.css/normalize.css
!node_modules/vue/dist
node_modules/vue/dist/*
!node_modules/vue/dist/vue.min.js


